= simple_form_for category_attribute, input_html: { class: 'form-control' } do |form|
  = form.association :category, include_blank: false
  = form.input :name, label: 'Nazwa atrybutu'
  = form.button :submit, 'Zatwierdź', class: 'btn btn-outline-success'
